---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import BaseTemplate from '../layouts/BaseTemplate.astro';
---

<BaseTemplate
	title="About Me"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	
	<div class="container p-4">
		<legend class="display-4">About Me</legend>
	</div>
	<div class="container p-4">
		<!-- Page Banner -->
		<div class="border-4 home-banner d-flex flex-column justify-items-center my-4 py-4 rounded-2 shadow-xl"
		>
			<div class=" flex flex-col sm:flex-row sm:gap-8 items-center gap-6">
				<!-- Image -->
				<img class="img-fluid shadow rounded-circle ms-3" 
					style="height: 200px;width:auto;"
					src="src/assets/images/profile.jpeg" 
					alt="A profile picture of Johan with a big smile"
				/>
				<!-- Biography x Actions -->
				<div class="m-2 d-block justify-items-center">
					<!-- Biography -->
					<div class="my-4 gap-2 px-3">
						<legend class="mb-1 fw-light text-muted fs-2"
						>Biography</legend>

						<div class="container p-4">
							<p>
								I am a problem-solver at heart, passionate about breaking down complex challenges and building efficient solutions. 
								I started my journey as a developer in 2018 and have since gained experience in developing data-driven applications, 
								specializing in both frontend and backend development.
							</p>
							<p>
								As a mostly self-taught full-stack and data solutions developer, I have honed my skills in Python, PySpark, and JavaScript. 
								Beyond development, I have collaborated with business-facing departments to consult on probable solutions, ensuring technical implementations align with business needs. 
								I thrive in collaborative environments and enjoy working with others to create impactful, scalable solutions.
							</p>
							<p>
								When I’m not coding, you’ll find me enjoying pizza, anime, and Coca-Cola. An<em> "Otaku"</em>
							</p>  
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</BaseTemplate>
