---
// imports.
import BlogPost from "../components/BlogPost.astro";
import Layout from "../layouts/BaseLayout.astro";
// frontmatter properties.
const blogPosts = Object.values(import.meta.glob("./posts/*.md", {eager: true}));
const pageTitle = "Blog: Development & More"
---
<Layout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro & other tech</p>

  <h2>Posts:</h2>
  <ol>
    {blogPosts.map((post:any) => 
      <BlogPost url={post.url} title={post.frontmatter.title} />
    )}
  </ol>
</Layout>