---
// imports.
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
import Layout from "../layouts/BaseLayout.astro";

// frontmatter properties.
const blogPosts = await getCollection('blog');
const pageTitle = "Blog: Development & More"
---
<Layout pageTitle={pageTitle}>
  <h1>TODO: Refactor</h1>
  <p>
    This is where I will post about my journey learning Astro & other tech
  </p>

  <h2>Posts:</h2>
  <ol>
    {blogPosts.map((post:any) => 
      <BlogPost url={`/posts/${post.id}`} title={post.data.title} />
    )}
  </ol>
</Layout>