---
import BaseTemplate from "../layouts/BaseTemplate.astro";
import HeroSection from "../components/Hero.astro";

// Frontmatter Props.
const greetings = ["Saw'bona", "Dumela", "Hi", "Hello", "Bonjour"];
---
<BaseTemplate>
	<HeroSection />
	<div class="container p-4">
		<!-- Page Banner -->
		<div class="border-4 home-banner d-flex flex-column justify-items-center my-4 py-4 rounded-2 shadow-xl"
		>
			<div class=" flex flex-col sm:flex-row sm:gap-8 items-center gap-6">
				<!-- Image -->
				<img class="img-fluid shadow rounded-circle ms-3" 
					style="height: 200px;width:auto;"
					src="src/assets/images/profile.jpeg" 
					alt="A profile picture of Johan with a big smile"
				/>
				<!-- Biography x Actions -->
				<div class="m-2 d-block justify-items-center">
					<!-- Biography -->
					<div class="my-4 gap-2 px-3">
						<legend class="mb-1 fw-light text-muted fs-2"
						>Biography</legend>

						<div class="container">
							<p>
								I am a problem-solver at heart, passionate about breaking down complex challenges and building efficient solutions. 
								I started my journey as a developer in 2018 and have since gained experience in developing data-driven applications, 
								specializing in both frontend and backend development.
							</p>
							<p>
								As a mostly self-taught full-stack and data solutions developer, I have honed my skills in Python, PySpark, and JavaScript. 
								Beyond development, I have collaborated with business-facing departments to consult on probable solutions, ensuring technical implementations align with business needs. 
								I thrive in collaborative environments and enjoy working with others to create impactful, scalable solutions.
							</p>
							<p>
								When I’m not coding, you’ll find me enjoying pizza, anime, and Coca-Cola. <em>A real "Otaku"</em>
							</p>  
						</div>
					</div>
					<!-- Actions -->
					<div class="d-flex justify-content-center">
						<!-- Prjcts -->
						<a class="fw-semibold m-1 p-3 rounded-sm shadow-sm"
							href="/projects"
						>View My Projects</a>
						<!--: PDF:CV :-->
						<a class="fw-semibold m-1 p-3 rounded-sm shadow-sm"
							href="src/docs/johan_khanye_cv.pdf" target="_blank"
						>View my CV</a>
						<!--: Contact :-->
						<a class="fw-semibold m-1 p-3 rounded-sm shadow-sm"
							href="/contact"
						>Let’s Connect</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</BaseTemplate>

<!-- 
<BaseTemplate>
	<h1>🧑‍🚀 Hello, Astronaut!</h1>
	<p>
		Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
		template serves as a lightweight, minimally-styled starting point for anyone looking to build
		a personal website, blog, or portfolio with Astro.
	</p>
	<p>
		This template comes with a few integrations already configured in your
		<code>astro.config.mjs</code> file. You can customize your setup with
		<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
		React, or Vue to your project.
	</p>
	<p>Here are a few ideas on how to get started with the template:</p>
	<ul>
		<li>Edit this page in <code>src/pages/index.astro</code></li>
		<li>Edit the site header items in <code>src/components/Header.astro</code></li>
		<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
		<li>Check out the included blog posts in <code>src/content/blog/</code></li>
		<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
	</ul>
	<p>
		Have fun! If you get stuck, remember to
		<a href="https://docs.astro.build/">read the docs</a>
		or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
	</p>
	<p>
		Looking for a blog template with a bit more personality? Check out
		<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
		by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
	</p>
</BaseTemplate> -->
