---
import Greeting from '../components/Greeting';
import Layout from '../layouts/BaseLayout.astro';
import "../styles/global.css";

const pageTitle = "Welcome."
---
<Layout pageTitle={pageTitle}>
  <Greeting client:load messages={["Sawbona", "Dumela", "Hi", "Hello", "Bonjour"]} />
  <h2 class="text-3xl font-bold underline">Welcome to my portfolio</h1>
</Layout>