---
import BaseTemplate from "../layouts/BaseLayout.astro";
// frontmatter props.
const title = "Projects"
---
<BaseTemplate pageTitle={title}>
  <div class="vh-100 container border"></div>
</BaseTemplate>