---
import BaseTemplate from "../layouts/BaseTemplate.astro";
import Services from "../components/Services.astro";
// frontmatter props.
const title = "Projects"
---
<BaseTemplate pageTitle={title}>
  <div class="container" style="min-height: 40em !important;">
    <!-- Project -->
    <Services />
  </div>
</BaseTemplate>