---
import Social from "./Socials.astro";
---
<footer style="margin-top: 1rem;">
  <hr>
  <!-- Github -->
  <p style="margin-bottom: 10px;margin-top: 5px;">Learn more about my projects on:</p>
    <Social platform="github" username="Khanye-D-Johan" /> 
    <Social platform="linkedin" pre="in/" username="johan-khanye" />
    <Social platform="x" username="johan_prodigal" /> 
    <Social platform="instagram" username="khanye_johan" />
</footer>