<div class="cursor-pointer hamburger sm:hidden inline w-auto pr-5">
  <span class="bg-white block h-0.5 mb-1 w-8 line"></span>
  <span class="bg-white block h-0.5 mb-1 w-8 line"></span>
  <span class="bg-white block h-0.5 mb-1 w-8 line"></span>
</div>