---
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
import Nav from "./Navigation.astro";
---
<header>
  <nav style="display: flex;">
    <Hamburger />
    <Nav />
    <ThemeIcon />
  </nav>
</header>