---
import "../styles/global.css";
import { Image } from "astro:assets"; 
import faviconPic from "../assets/images/favicon.png"
---
<nav class="navbar navbar-expand-lg border-bottom" 
  aria-label="JK D. Projects Large Navigation Bar"
>
  <div class="container-fluid">
    <!-- Brand -->
    <a class="navbar-brand" href="/">
      <Image src={faviconPic}
        loading="eager"
        fetchpriority="high"
        aria-hidden="true"
        alt="favicon"
        class="bi me-2 rounded-circle" 
        style="height: 40px;width:40px;"
      >
      <span>JK D. Projects</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2" 
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- offcanvas navbar: text-bg-dark -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
      <!-- Mobile `Branding` header x Close btn -->
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbar2Label"
          aria-labelledby="Mobile Branding header"
        >
          <Image src={faviconPic}
            loading="eager"
            fetchpriority="high"
            aria-hidden="true"
            alt="favicon"
            class="bi me-2 rounded-circle" 
            style="height: 40px;width:40px;"
          >
          JK D. Projects</h5>
        <button type="button" 
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas" 
          aria-label="Close"
        ></button>
      </div>

      <!-- navbar body -->
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <!--[ Home ]-->
          <li class="nav-item">
            <a class="nav-link active" 
              aria-current="page"
              aria-label="Navigation Home"
              href="/"
            >Home</a>
          </li>
          <!--[ About ]-->
          <li class="nav-item">
            <a class="nav-link" 
              aria-label="Navigation About"
              href="/about"
            >About</a>
          </li>
          <!--[ Contact ]-->
          <li class="nav-item">
            <a class="nav-link"
              aria-label="Navigation Contact"
              href="/contact"
            >Contact</a>
          </li>
          <!--[ Projects ]-->
          <li class="nav-item">
            <a class="nav-link" 
              aria-label="Navigation Projects"
              href="/projects"
            >Projects</a>
          </li>
          <!--[ Services ]-->
          <li class="nav-item">
            <a class="nav-link" 
              aria-label="Navigation TBD"
              href="/services"
            >Services</a>
          </li>
          <!--[ Blog ]-->
          <li class="nav-item">
            <a class="nav-link" 
              aria-label="Navigation Blog."
              href="/blog"
            >My Blog</a>
          </li>
        </ul>
        
      </div>
    </div>
  </div>
</nav>