---
const { platform, username, pre="" } = Astro.props;
---
<div style="display: inline;">
  <a href={`https://www.${platform}.com/${pre}${username}`} target="_blank">{platform}</a>
  <slot />
</div>

<style>
  div {
    margin-right: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
    text-transform: capitalize;
  }
</style>