---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { tabTitle, pageTitle, subTitle }= Astro.props;
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/img/favicon.png" />
		{tabTitle?<title>{tabTitle}</title>:<title>{pageTitle}</title>}
	</head>

	<!-- Content  -->
	<body class="font-sans font-light">
		<!-- Navigation -->
    <Header />	
		
		<!-- page title & subtitle -->
		<div class="mx-auto text-center mb-2 mt-16">
			<h1 class="mb-1 font-semibold text-4xl">{pageTitle}</h1>
			{subTitle?<h2 class="font-semibold">{subTitle}</h2>:<span></span>}
		</div>

		<!-- Slot for page specific content -->
		<slot />
		<!-- Footer -->
    <Footer />
    <!-- JS scripts -->
    <script>
      import "../scripts/menu.js"
    </script>
	</body>
</html>
